#!/bin/bash
nmcli nm wifi on # 启动wifi
#输入法
export XMODIFIERS=@im=fcitx
export GTK_IM_MODULE=fcitx # 或者是xim，取决于你是否编译了对应的输入法模块
export QT_IM_MODULE=fcitx # 或者是xim，取决于你是否编译了对应的输入法模块
fcitx&
pkill gnome-shell
~/.compiz_run.sh
